* {
    -selection-red: #ff4242;
    -hover-red-lighter: #b72f2f;
    -hover-red: #702626;
    -darker-gray: #1e1e1e;
    -normal-gray: #262626;
    -light-gray: #3f3f3f;
}

.root * {
    -fx-font-family: Cantarell;
}

HBox, VBox, AnchorPane, Pane {
    -fx-background-color: -normal-gray;
}


.scroll-pane {
    -fx-background-color: -normal-gray;
}

.scroll-pane .viewport {
    -fx-background-color: -normal-gray;
}

.scroll-pane .scroll-bar {
    -fx-background-color: -darker-gray;
}


.scroll-pane .scroll-bar .thumb {
    -fx-background-color: -light-gray;
}

.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: -hover-red;
}

.scroll-pane .scroll-bar .thumb:pressed {
    -fx-background-color: -selection-red;
}

.list-view {
    -fx-background-color: -darker-gray;
    -fx-text-fill: #ffffff;
}

.list-view .cell {
    -fx-background-color: -darker-gray;
}

.list-view .cell:hover {
    -fx-background-color: -hover-red;
}

.list-view .cell:selected {
    -fx-background-color: -selection-red;
}

.list-view .scroll-bar {
    -fx-background-color: -darker-gray;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: -light-gray;
}

.list-view .scroll-bar .thumb:hover {
    -fx-background-color: -hover-red;
}

.list-view .scroll-bar .thumb:pressed {
    -fx-background-color: -selection-red;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button:hover ImageView {
    -fx-effect: innershadow(gaussian, -hover-red-lighter, 100, 1, 1, 1);
}

.button:pressed ImageView {
    -fx-effect: innershadow(gaussian, -selection-red, 100, 1, 1, 1);
}

.button:hover {
    -fx-text-fill: -hover-red-lighter;
}

.button:pressed {
    -fx-text-fill: -selection-red;
}

.combo-box {
    -fx-background-color: -light-gray;
}

.combo-box:hover {
    -fx-background-color: -hover-red;
}

.combo-box:pressed {
    -fx-background-color: -selection-red;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: -light-gray;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -hover-red;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: -selection-red;
}

.combo-box .list-cell {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.control {
    -fx-background-radius: 0;
}

.text-input {
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: -light-gray;
    -fx-background-color: -light-gray;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
}

.table-view {
    -fx-background-color: -light-gray;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-selection-bar: -hover-red;
    -fx-table-cell-border-color: transparent;
}

.table-view .table-column {
    -fx-background-color: -normal-gray;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.table-view .cell {
    -fx-background-color: -light-gray;
}

.table-view:row-selection .table-row-cell:selected .table-cell {
    -fx-background-color: -hover-red;
}


.table-view .scroll-bar {
    -fx-background-color: -darker-gray;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: -light-gray;
}

.table-view .scroll-bar .thumb:hover {
    -fx-background-color: -hover-red;
}

.table-view .scroll-bar .thumb:pressed {
    -fx-background-color: -selection-red;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.check-box {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.check-box .box {
    -fx-background-color: -normal-gray;
    -fx-background-radius: 0;
}

.check-box .box:hover {
    -fx-background-color: -hover-red;
}

.check-box .box:pressed {
    -fx-background-color: -selection-red;
}

.check-box:selected .mark {
    -fx-background-color: -selection-red;
}

.progress-bar .bar {
    -fx-background-color: -selection-red;
}

.transparent-background {
    -fx-background-color: transparent;
}

.gray-text-color {
    -fx-text-fill: #7e7e7e;
}

.tool-bar:horizontal {
    -fx-background-color: -normal-gray;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.chart-legend {
    -fx-background-color: -darker-gray;
}

.darker-background {
    -fx-background-color: -darker-gray;
}
